.posts {
  padding-top: 15px;
}

.posts .post {
  margin-bottom: 1em;
}

.post-date {
  display: inline !important;
  margin: 0;
  font-size: 0.8em;
}

footer {
  padding-bottom: 15px;
}

footer p {
  font-size: 0.9em;
  color: #777;
}
