@import "normalize.css";
@import "prism-duotone-light.css";

@font-face {
  font-family: "Lato";
  src: local("Lato"), url("/fonts/Lato-Regular.ttf");
  font-weight: regular;
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), url("/fonts/Lato-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Source Serif Pro";
  src: local("Source Serif Pro"), url("/fonts/SourceSerifPro-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  src: local("Source Serif Pro"), url("/fonts/SourceSerifPro-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  src: local("Source Serif Pro"), url("/fonts/SourceSerifPro-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Source Serif Pro";
  src: local("Source Serif Pro"), url("/fonts/SourceSerifPro-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

:root {
  --color-light-gray: #f3f3f3;

  --color-banana: #faf3dd;
  --color-banana-light: #fffdf6;
  --color-sage: #c8d5b9;
  --color-mint: #8fc0a9;
  --color-polar: #68b0ab;
  --color-polar-dark: #477b77;
  --color-polar-black: #3f6360;
  --color-moss: #4a7c59;
  --color-moss-dark: #3a6748;
}

ul.post-list {
  padding-left: 0;
  list-style: none;
}

ul.post-list li {
  margin-bottom: 16px;
}

ul.post-list li a {
  text-decoration: none;
}

ul.post-list li em {
  color: #999;
}

body {
  background-color: var(--color-banana-light);
  color: var(--color-polar-dark);
  font-family: Lato, "Source Sans Pro", sans;
  font-size: 18px;
  line-height: 1.5em;
  margin: 0px auto 0px auto;
  padding: 0 15px;
  max-width: 700px;
}

#content article .body {
  font-family: "Source Serif Pro", sans;
}

a, a:visited {
  color: var(--color-moss);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--color-polar);
}

div#header {
  border-bottom: 1px solid #aaa;
  margin-bottom: 30px;
  padding: 12px 0px 12px 0px;
  display: flex;
}

div#logo,
div#navigation {
  flex-grow: 1;
}

div#logo a {
  float: left;
  font-size: 18px;
  text-decoration: none;
}

div#header div#logo a,
div#header div#logo a:visited {
  color: var(--color-moss-dark);
}

div#header a,
div#header a:visited {
  color: var(--color-moss);
}

div#header a:active,
div#header a:hover {
  color: var(--color-polar);
}

div#header #navigation {
  text-align: right;
}

div#header #navigation ul {
  list-style: none;
  margin: 0;
}

div#header #navigation ul li {
  display: inline;
}

div#header #navigation a {
  font-size: 16px;
  margin-left: 12px;
  text-decoration: none;
  text-transform: lowercase;
}

#footer {
  border-top: solid 1px #aaa;
  color: #555;
  font-size: 12px;
  margin-top: 30px;
  padding: 12px 0px 12px 0px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Lato, sans;
  font-weight: bold;
  color: var(--color-polar-black);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

div.info {
  color: #555;
  font-size: 14px;
  font-style: italic;
}

body pre {
  font-size: 0.8em;
  line-height: 1.5em;
  background: var(--color-light-gray);
  overflow-x: scroll;
  padding: 10px 15px;
}

blockquote {
  border-left: 10px solid #eee;
  margin-left: 0;
  padding-left: 30px;
  color: var(--color-polar-dark);
  font-size: 1.1em;
  line-height: 1.5em;
}

hr {
  border: 0;
  border-bottom: 1px solid #aaa;
}

section.header {
  margin: 0;
  font-size: 16px;
  padding-bottom: 15px;
  color: var(--color-polar-dark);
  border-bottom: solid 1px #d9d9d9;
}

.tag {
  font-size: 0.6em;
  padding: 1px 5px 3px 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #eee;
  color: #888;
  white-space: nowrap;
}

code {
  color: var(--color-polar-dark);
  font-size: 0.9em;
  background: #eee;
  padding: 1px 4px;
  border-radius: 5px;
}

a code {
  text-decoration: underline;
}

pre code {
  background-color: transparent;
}
