<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} : {% endif %}{% if section.title %}{{ section.title }} : {% endif
        %}sethetter.com</title>

    <link rel="shortcut icon" href="/images/favicon.ico">

    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <div id="header">
        <div id="logo">
            <a href="/"><strong>seth etter</strong>&nbsp;<small><em>dot</em></small>&nbsp;&nbsp;<strong>com</strong></a>
        </div>
        <div id="navigation">
            <ul>
                <li>
                    <a href="/posts">posts</a>
                </li>
                <li>
                    <a href="/links">links</a>
                </li>
                <li>
                    <a href="https://sethetter.social/@seth" rel="me" target="_blank">social</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="content">
        {% block content %} {% endblock %}
    </div>

    <div id="footer">
        Written and maintained by
        <a href="https://sethetter.com">Seth Etter</a>.
    </div>

    <script src="https://cdn.usefathom.com/script.js" data-site="HRUUKZPR" defer></script>
</body>

</html>
