{% extends "base.html" %}

{% block content %}
<h1 class="title">Things I've written</h1>
<p>Also available in <a href="/rss.xml" title="RSS Feed">RSS</a>.</p>
<ul class="post-list">
  {% for page in section.pages %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    {% for tag in page.taxonomies["tags"] %}
    <span class="tag">{{ tag }}</span>
    {% endfor %}
    <em><small>&mdash;&nbsp;{{ page.date | date(format="%B %d, %Y") }}</small></em>
  </li>

  {% endfor %}
</ul>
{% endblock content %}