{% extends "base.html" %}

{% block content %}
<h1 class="title">Things I've written</h1>
<p>Also available in <a href="/posts/rss.xml" title="RSS Feed">RSS</a>.</p>
<ul class="post-list">
  {% for page in section.pages %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    {% for tag in page.taxonomies["tags"] %}
      &nbsp;<span class="tag">
          <a href="/tags/{{ tag }}" title="Tagged posts: {{ tag }}">{{ tag }}</a>
      </span>
    {% endfor %}
  </li>

  {% endfor %}
</ul>
{% endblock content %}